@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
  user-select: none;
}
h1 {
  font-family: "Orbitron", sans-serif;
  color: rgb(7, 161, 250);
  margin-top: 3%;
  margin-bottom: 0;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  color: orange;
  margin-bottom: 5%;
  margin-top: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.game-board {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 4px;
  margin: 10% 25%;
  border-radius: 5px;
}

@media only screen and (min-width: 300px) {
  .game-board {
    margin: 0 5%;
  }
}

@media only screen and (min-width: 800px) {
  .game-board {
    margin: 0 15%;
  }
}

@media only screen and (min-width: 1000px) {
  .game-board {
    margin: 0 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .game-board {
    margin: 0 30%;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 4px;
  height: 100px;
  /* border: 2px solid red;
  margin: 2px; */
}
@keyframes mymove {
  0%   {transform: scale(1)}
  50%  {transform: scale(0.5)}
  100% {transform: scale(1)}
}

.cell {
  padding: 10px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 5px;
  /* border: none; */
   
  border:none;
}

.cell-2 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid orange;
  color: orange;
  animation: mymove 100ms ease-in ;  
}
.cell-4 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid rgb(7, 161, 250);
  color: rgb(7, 161, 250);
  animation: mymove 100ms ease-in;
}
.cell-8 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid yellow;
  color: yellow;
  animation: mymove 100ms ease-in ;
}
.cell-16 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid rgb(43, 255, 0);
  color: rgb(43, 255, 0);
  animation: mymove 100ms ease-in ;
}
.cell-32 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid rgb(234, 0, 255);
  color: rgb(234, 0, 255);
  animation: mymove 100ms ease-in ;
}
.cell-64 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid rgb(255, 0, 119);
  color: rgb(255, 0, 119);
  animation: mymove 100ms ease-in ;
}
.cell-128 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid rgb(59, 34, 201);
  color: rgb(59, 34, 201);
  animation: mymove 100ms ease-in ;
}
.cell-256 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid rgb(201, 34, 62);
  color: rgb(201, 34, 62);
  animation: mymove 100ms ease-in ;
}
.cell-512 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid #00FFFF;
  color: #00FFFF;
  animation: mymove 100ms ease-in ;
}
.cell-1024 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid #0033FF;
  color: #0033FF;
  animation: mymove 100ms ease-in ;
}
.cell-2048 {
  width: 100%;
  height: 90px;
  font-size: 3rem;
  border: 3px solid #6E0DD0;
  color: #6E0DD0;
  animation: mymove 100ms ease-in ;
}

.score{
  border: 1px solid red;
  display: inline;
  color: white;
  padding: 12px 18px;
  font-size: 2rem;
  background: transparent;
  outline: none;
  color: rgb(7 161 250);
  border: 2px solid rgb(7 161 250);
  float: right;
  margin-right: 15vw;
  margin-top: -75vh;
}